@mixin border_1px($color){
	&::after{
		position: absolute;
		left: 0;
		bottom: 0;
		height: 10px;
		width: 100%;
		content: '';
		background-color: $color;
	}
}
.box{
	height: 100px;
	width: 100%;
	background:red;
	position: relative;
	@include border_1px(yellow);
}
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2) {
  .border1px{
   &::after{
    transform: scaleY(.7);
    background:green;
   }
 }
}
@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3) {
  .border1px{
   &::after{
    transform: scaleY(.5);
    background: blue;
   }
 }
}